<div class="container">
    <div class="row">
        <!-- Post content-->
        <div class="col-lg-8">
            <!-- Title-->
            <h1 class="mt-4">Pollution turns out to be making us stupid
            </h1>
            <!-- Author-->
            <p class="lead">
                by Farhan A.
            </p>
            <hr />
            <!-- Date and time-->
            <p>Posted on May 26, 2021 at 09:00 pm</p>
            <hr />
            <!-- Preview image-->
            <img class="img-fluid rounded" src="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg" alt="..." />
            <p>Image Source <cite><a href="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg">https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg</a></cite></p>
            <hr />
            <!-- Post content-->
            <p>Do you know what chemicals we encounter often that make us stupid?
            </p>
            <p>The answer is pollution! Yes, air pollution. Substances that we breathe almost every day, especially for those of you who live in cities that are quite densely populated, such as Jakarta or Surabaya. Don't you often feel cramped when walking in the city, or when you are driving a vehicle? Every time you inhale, the air you breathe isn't fresh at all. Much different when you are on the coast or in the forest. Motorized vehicles and factories are sources of air pollution. Try to look at the city lights when you are riding a motorcycle at night, you will see fairly thick fog. That's the air pollution that collects in our air. Imagine if you ride a motorcycle without wearing a mask. Then you must have also wanted to go to work or school and then got caught in a traffic jam, our body feels not fresh, the mind becomes chaotic, the clothes smell bad, the point is they are not fresh anymore. Have you? Yes, it's because of pollution.</p>
            <p>Actually, what is pollution?</p>
            <p>If we refer to Law number 23 of 1997, pollution is the entry or inclusion of substances, energy, living things, and components into an environment, which ultimately makes the quality of the environment decrease. In fact, the environmental quality has deteriorated to a level that is no longer usable. So, it is humans who do and cause pollution. Pollution can also be interpreted as the composition of a substance, such as water, air, soil, and also the environment. In the end, the quality of the substance decreases, and its functions can no longer be used. Speaking of pollution, it's incomplete if we don't talk about pollutants either. Pollution appears which is caused by pollutants. Pollutants are substances or polluting objects that can pollute directly or directly.</p>
            <p>4 types of pollutants:</p>
            <ol>
                <li>Chemical Pollutants</li>
                <li>Biological Pollitants</li>
                <li>Physical Pollutants</li>
                <li>Social-Cultural Pollutants</li>
            </ol>
            <p>Do you know which types of pollutants can have an impact on human health? Yes, the answer is chemical pollutants. This is because chemical pollutants are in the form of chemical compounds with very high concentrations, so they can cause pollution. An example is Carbon dioxide gas (CO2). We can both feel that the more here we are, the more polluted our environment is. Air, land, even air. You can see the rivers in Jakarta, you can also see the latest news about the death of the sperm whale, the amount of garbage that is in its body. No, no. The whale doesn't want to eat garbage, but this big animal has limited vision, so the garbage in the ocean, he thinks it's food. The Sperm Death Whale shows how polluted our oceans are. Again, human activity.</p>
            <p>Pollution itself divided into 4 types:</p>
            <p>Air Pollution</p>
            <p>Air pollution usually occurs due to pollutants in the form of gases or particulate matter. Examples that can cause air pollution are such as:
                Carbon dioxide gas (CO2), carbon monoxide (CO), HzS (Toxic gas), nitrogen dioxide (NO2), sulfur dioxide (SO2). Originally it could be from motorized vehicles, factory fumes, burning garbage, and many more.</p>
            <p>Water Pollution</p>
            <p>Air pollution occurs because of substances or pollutants that can cause air pollution. Examples of industrial wastewater, insecticides used by farmers, Hg, CO, and Zn. Besides that, plastic waste is also one of them.</p>
            <p>Noise Pollution</p>
            <p>Noise pollution usually occurs due to noise and the roar of vehicle engines. Many more causes. Like factory machines, tree cutting machines, and many more, the point is that as long as your hearing is not disturbed, then you are polluting the sound.</p>
            <p>Soil Pollution</p>
            <p>Soil pollution can occur due to the presence of substances or pollutants that cause soil pollution, such as plastic waste, rubber waste, bottle waste, etc. which are dumped carelessly on the ground.</p>
            <p>Those are the types of pollution that are all around us. These pollutants have quite a significant impact on the human body.
                You must know if air pollution can cause respiratory problems, heart problems, and even cancer, you know that already. But if air pollution can cause a drop in intelligence, did you know?</p>
            <p>Dr. Frederica P. Perera, director of the Columbia Center for Children's Environmental Health, and her friends have conducted research on the impact of pollution on humans. The result is that children who are 5 years old in New York City who has been exposed to air pollution with Polycyclic Aromatic Hydrocarbon (PAH), will have an IQ that is 4 points lower than children who are less or not exposed to PAH. . The pollution arises from motor vehicles and factories.
                Then, the results of this study were published in the Journal of the American Academy of Pediatrics in July 2009.
                However, it turns out that it is not only children whose intelligence levels can be obtained by pollution. In 2008, research was carried out in this regard, by the School of Public Health from Harvard University in-in with the University of North Carolina at Chapel Hill. The research was conducted by taking samples of people aged 20-50 years.
                The result is that ozone levels in polluted air can reduce concentration, cause short-term memory and decrease the brain response equivalent to the brain at 3.5 - 5 years older than the actual age.</p>
            <p>Therefore, we have to reduce pollution as much as possible. The method is actually easy, as long as we consistently do it. We can start by planting trees in the environment around us, using environmentally friendly vehicles such as bicycles, checking the machines of our vehicles so that they don't cause excess pollution if we use motorized vehicles, and also using public transportation.</p>
            <hr />
        </div>
    </div>
</div>

