        <div class="container">
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8">
                    <!-- Title-->
                    <h1 class="mt-4">Hm, Air Quality?</h1>
                    <!-- Author-->
                    <p class="lead">
                        by N.Azura
                    </p>
                    <hr />
                    <!-- Date and time-->
                    <p>Posted on May 24, 2021 at 11:00 AM</p>
                    <hr />
                    <!-- Preview image-->
                    <img class="img-fluid rounded" src="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg" alt="..." />
                    <p>Image Source <cite><a href="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg">https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg</a></cite></p>
                    <hr />
                    <!-- Post content-->
                    <p>Do you ever wonder why is it fresher in the rural areas than the urban ones? Or do you ever wonder why do you cough more often day by day?</p>
                    <p>Well, if yes, then we can discuss air quality. You may know as time goes, many people care about their life ease. They tend to upgrade their lifestyle by buying more vehicles to help their mobilization. Every family wants at least a car and a motorcycle, or even more. The increasing number of vehicles—which utilize fossil as their fuel—tends to increase pollution, especially air pollution.</p>
                    <p>The use of fossil fuels is known to be a disadvantage for environmental sustainability. The shifting from non-renewable energies to renewable ones may cost more time and effort to be fully conducted. Thus, the use of fossil fuel is still going, although people are aware of its disadvantage.</p>
                    <p>As the data collected, Jakarta is the area with the most unhealthy air. Indonesia is not even a country which already is established for more than years. Indonesia is just a nearly 76-aged-country. One among the young ones. The worsening air quality in Jakarta is not only caused by the massive increase in vehicle use but also lacking waste processing mechanisms.</p>
                    <p>Hopefully, in the future, Indonesia can be a wise country that can treat wastes, especially vehicle wastes wisely.</p>
                    <hr />
                </div>
            </div>
        </div>
 
