        <div class="container">
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8">
                    <!-- Title-->
                    <h1 class="mt-4">Perancangan Olahraga yang Ramah Lingkungan</h1>
                    <!-- Author-->
                    <p class="lead">
                        by N.Azura
                    </p>
                    <hr />
                    <!-- Date and time-->
                    <p>Posted on 2 June, 2021 at 11:00 AM</p>
                    <hr />
                    <!-- Preview image-->
                    <img class="img-fluid rounded" src="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg" alt="..." />
                    <p>Image Source <cite><a href="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg">https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg</a></cite></p>
                    <hr />
                    <!-- Post content-->
		<p>Hallo!</p>                    
                    <p>Di masa sekarang ini, banyak alternatif olahraga yang mudah untuk dilakukan. Bahkan banyak olahraga yang bisa dilakukan dari rumah, lho! Untuk merencanakan olahraga yang efektif dan efisien, teman-teman bisa merancang olahraga dengan asesmen olahraga yang sudah di atur sejak awal periode latihan. Berikut caranya!</p>
                    <p>Pertama, teman-teman bisa memilih jenis olahraga untuk dilakukan dalam periode tertentu. Misalnya, dalam satu bulan teman-teman bisa merencanakan senam irama, senam lantai, permainan bola besar, dan yoga.</p>
                    <p>Kedua, jenis olahraga tersebut dapat disusun dalam tabel asesmen, bersamaan dengan intensitas dan durasi latihan yang diinginkan oleh teman-teman. Jangan lupa bikin tabel ceklisnya, supaya bisa memeriksa hasil olahraga teman-teman.</p>
		<p>Terakhir, teman-teman tinggal melaksanakan olahraga sesuai dengan jadwal asesmen yang telah dilakukan. Jangan lupa untuk konsisten dalam melaksanakannya ya!</p>	
		<p>Olahraga yang dilakukan bisa olahraga yang ramah lingkungan, lho! Seperti bersepeda (di jalur atau trek yang disediakan), work out, atau olahraga seperti skateboarding dan permainan seperti tennis, badminton, atau volley.</p>
		<p>Untuk referensi olahraga seperti yoga dan sebagainya, kamu bisa memanfaatkan video trainer seperti Emi Wong atau Chloe Ting, tergantung dengan target yang ingin kamu capai.</p>
<p>Semangat berolahraganya, teman-teman!</p>	
<hr />
                </div>
            </div>
        </div>
 
