<div class="container">
    <div class="row">
        <!-- Post content-->
        <div class="col-lg-8">
            <!-- Title-->
            <h1 class="mt-4">Air Pollution Getting Worse, What Effect Will It Give to Our Lungs?
            </h1>
            <!-- Author-->
            <p class="lead">
                by Rafael W.H
            </p>
            <hr />
            <!-- Date and time-->
            <p>Posted on May 27, 2021 at 09:00 AM</p>
            <hr />
            <!-- Preview image-->
            <img class="img-fluid rounded" src="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg" alt="..." />
            <p>Image Source <cite><a href="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg">https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg</a></cite></p>
            <hr />
            <!-- Post content-->
            <p>According to AirVisual, Jakarta ranks third as the city with the highest level of air pollution in the world.  As of 24 August 2018, Indonesia's Air Quality Index (AQI) stands at 156, which is categorized as unhealthy air.  Even though the AQI status can change every day and even differs in the morning and evening, every day the AQI in Jakarta is not far from these numbers and categories.
            </p>
            <p>Jakarta is not the only city that has to deal with this problem. Several other cities in Indonesia, such as Palangka Raya and Pekanbaru, also often have low air quality due to forest fires that often occur in the dry season.</p>
            <p>In fact, not only in Indonesia, but the problem of air pollution has also become a world problem.  According to estimates by the World Health Organization (WHO), nine out of ten people worldwide live in polluted air.  WHO also noted that air pollution kills up to seven million people every year.  Not surprisingly, even though the effect is not immediate, inhaling high-polluted air too often causes several dangerous diseases that affect the respiratory system including the lungs.</p>
            <p>As a citizen of the world who lives in an area with a high level of air pollution, you must know what diseases threaten you.  In addition, you also need to have an understanding of how to prevent air pollution from damaging your health.</p>
            <p>Quoting the WHO statement, air pollution has a big share of three respiratory system diseases.  Air pollution accounts for 25 percent of diseases and deaths from lung cancer, 17 percent of diseases and deaths from ARI, and 8 percent due to Chronic Obstructive Pulmonary Disease (COPD).  From these data, we can see that lung cancer, which is identical to smoking, can also be caused by air pollution.  The risk of developing lung cancer is even greater if you are a smoker who lives in an environment with high air pollution.</p>
            <p>Meanwhile, ARI due to air pollution is very easy to attack groups who have low immunity, such as babies, children, the elderly, and you or your loved ones who have chronic diseases.  If people with ARD continue to live in polluted air, it can cause inflammation and damage to the lungs.
                No less dangerous than lung cancer, COPD is another lung disease caused by air pollution.  COPD is a permanent or incurable disease.  COPD occurs when the lungs become inflamed, damaged, and narrowed due to pollutants from exhaust fumes and factory exhaust gases.</p>
            <p>Apart from these three diseases, researchers from the University of Leicester, England, found other effects of exposure to air pollution particles on lung function.  If your body is exposed to high levels of pollutants, your lung function is reduced to the equivalent of approximately one year of aging.  The impact of aging lungs is greater if you routinely do outdoor activities.</p>
            <p>Although dangerous and must be found a solution immediately, air pollution is not a problem that can be handled overnight.  For that, you need to adjust to the condition of the air getting worse.  In addition, you can also make a real contribution to preventing the worsening level of air pollution in the areas where you live and work.  Here's what you can do:</p>
            <ol>
                <li>Reducing the use of private vehicles and making use of public transportation.</li>
                <li>Create a small garden of anti-pollution plants, such as Betel Gading and Paris Lily</li>
                <li>Start using bicycles or walking for short trips.</li>
                <li>Minimizing the use of electricity to reduce the use of coal, which combustion can cause air pollution.</li>
                <li>Do not burn trash.</li>
            </ol>
            <p>The air pollution problem is our collective responsibility.  Come on, start caring about the state of the environment starting from ourselves so that the air can come back fresh and our bodies are always healthy.</p>
            <hr />
        </div>
    </div>
</div>

