<div class="container">
    <div class="row">
        <!-- Post content-->
        <div class="col-lg-8">
            <!-- Title-->
            <h1 class="mt-4">How Pandemic Shows The Urgency of Environmental Problems
            </h1>
            <!-- Author-->
            <p class="lead">
                by Naura D.S
            </p>
            <hr />
            <!-- Date and time-->
            <p>Posted on June 1, 2021 at 08:00 AM</p>
            <hr />
            <!-- Preview image-->
            <img class="img-fluid rounded" src="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg" alt="..." />
            <p>Image Source <cite><a href="https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg">https://www.healtheuropa.eu/wp-content/uploads/2018/10/Air-pollution-and-the-placenta.jpg</a></cite></p>
            <hr />
            <!-- Post content-->
            <p>It’s been a year since we've been through COVID-19 pandemic. But unfortunately, we can’t solve the pandemic problem yet. In one year of COVID-19, many things have happened and changed. One of them is about air pollution and we are going to discuss the change of air pollution and climate during the pandemic situation.</p>
            <p>In the first several months of pandemic, in Indonesia, especially in DKI Jakarta, the government enforced PSBB (Pembatasan Sosial Berskala Besar) policy to reduce the spread of COVID-19 virus. The policy required all the citizens to stay home with some regulations about some activities that were still allowed to be done outdoors. The PSBB policy had made the sky cleaner and the air felt fresher in DKI Jakarta. However, researchers claimed that the reduction in air pollution did not make carbon dioxide emissions, one of the drivers of climate change goes down. In May 2020, the Mauna Loa Observatory emission observation center in Hawai'i, United States, recorded an increase in carbon dioxide levels by 2.4 parts per million (ppm), bringing the total to 417.1 ppm. This means that a pandemic does not necessarily reduce carbon dioxide emissions.</p>
            <p>Maybe you are wondering how this could happen. This phenomenon happened due to policies that prioritize economic growth during the pandemic, thus neglecting the implementation of clean energy policies in various countries. For example, instead of promoting clean energy policies, the Indonesian government issued a Work Creation Law (UU), in October 2020, which weakens environmental protection, especially by simplifying AMDAL (Environmental Impact Analysis) to environmental permits, for the convenience of investors. Environmental law experts emphasize that the damaged environment and the ongoing pandemic outbreak will not invite security and comfort to invest in Indonesia. The other thing is Indonesian government also does not show high ambition to reduce national emissions.</p>
            <p>The pandemic really shows how environmental problems are becoming more urgent and there needs to be serious commitment and implementation to save humans from the impacts of the climate crisis that is currently happening. And we can also conclude that resolving environmental problems is not as easy as we can imagine. It needs serious acts, participations, and supports from all parties. As the young generations, we should start real acts from ourselves to also take part in efforts to save the earth for the sake of the future.</p>
            <hr />
        </div>
    </div>
</div>

