<footer>
    <div class="container-fluid" style="background-color: #fe962d;">
        <div class="container flex">
            <p class="justify-content-center">&copy;Copyright 2021 AirGenics</p>
        </div>
    </div>
</footer>

