<header>
    <!-- Tempat Header -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #015ba0;">
    <div class="container">
    <a class="navbar-brand" href="/" style="color: white;">AirGenics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="color: white;">
        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles"style="color: white;">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/form" style="color: white;">Form</a>
        </li>
    </ul>
    </div>
    </div>
    </nav>
</header>
 
